* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 95%);
  font-weight: 400;
  font-size: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 60%;
  height: 70%;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.button {
  background: hsl(0, 0%, 95%);
  border: 1px solid white;
  padding: 12px;
  width: 125px;
  border-radius: 1.5rem;
  cursor: pointer;
}


.details {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
  width: 80%;
}

.sedan {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  .button {
    color: hsl(31, 77%, 52%);
  }
}

.suv {
  background: hsl(184, 100%, 22%);
  .button {
    color: hsl(184, 100%, 22%);
  }
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .button {
    color: hsl(179, 100%, 13%);
  }
}

.button:hover{
    background: transparent;
    color: white;
}

.title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

@media only screen and (max-width: 766px) {
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 500px;
    gap: 2;
  }

  .card {
    width: 325px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    gap: 30px;
  }


  .details {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
  }

  .sedan {
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;

    .button {
      color: hsl(31, 77%, 52%);
    }
    .details {
      color: hsla(0, 0%, 100%, 0.75);
      line-height: 25px;
      width: 200px;
    }
  }

  .suv {
    background: hsl(184, 100%, 22%);
    .button {
      color: hsl(184, 100%, 22%);
    }
    .details {
      width: 218px;
    }
  }

  .luxury {
    background: hsl(179, 100%, 13%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;

    .button {
      color: hsl(179, 100%, 13%);
    }
    .details {
      width: 218px;
    }
  }

  .title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
  .button:hover{
    background: transparent;
    color: white;
}

}
